@model Plato

@{
    ViewData["Title"] = "Editar Plato";
}

<h2>@ViewData["Title"]</h2>

<form Action='@Url.Action("Editar","Platos")' method="post" style="position: absolute;top: 20%">
    <input type="hidden" name="id" value="@ViewBag.Usuario.id" />
    <div class="form-group">
        <label asp-for="nombre" class="control-label" text="Nombre"></label>
        <input type="text" class="form-control" name="nombre" id="nombrePlato" text="@Model.nombre" required />
        <span asp-validation-for="nombre" class="text-danger"></span>
    </div>
    <select class="form-select" name="idCategoria" aria-label="Default select example">
            <option selected>Elegi una categoria</option>
            @foreach (Categorias a in ViewBag.Categorias)
            {
              <option value="@a.id">@a.nombre</option>
            }   
    </select>
    <div class="form-group">
        <label asp-for="precio" class="control-label" text="Precio"></label>
        <input type="number" class="form-control" name="precio" id="precio" text="@Model.precio" required />
        <span asp-validation-for="precio" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label for="ingrediente">Ingredientes</label>
    <div class="form-check">
        @foreach (Ingrediente a in ViewBag.Ingrediente)
        {
            <div class="form-check">
                <input 
                    class="form-check-input" 
                    type="checkbox" 
                    name="ingredientes" 
                    value="@a.id" 
                    id="ingrediente_@a.id" />
                <label 
                    class="form-check-label" 
                    for="ingrediente_@a.id">
                    @a.descripcion
                </label>
            </div>
        }
    </div>
</div>
    <div class="form-group">
        <label asp-for="activo" class="control-label" text="Activo"></label>
        @Html.CheckBoxFor(x=>x.activo)
        <span asp-validation-for="activo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</form>
