@model Plato
@{
    ViewData["Title"] = "Editar Plato";
}

<h2>@ViewData["Title"]</h2>

 <form Action='@Url.Action("Editar","Platos")' method="post">
    <input type="hidden" name="id" value="@Model.id" />
    <div class="form-group">
        <label asp-for="nombre" class="control-label" text="Nombre"></label>
        <input type="text" class="form-control" name="nombre" id="nombrePlato" text="@Model.nombre" required />
        <span asp-validation-for="nombre" class="text-danger"></span>
    </div>
        <div class="form-group">
        <label asp-for="idCategoria" class="control-label" text="IdCategoria"></label>
        <input type="number" class="form-control" name="idCategoria" id="idCategoria" text="@Model.idCategoria" required />
        <span asp-validation-for="idCategoria" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="precio" class="control-label" text="Precio"></label>
        <input type="number" class="form-control" name="precio" id="precio" text="@Model.precio" required />
        <span asp-validation-for="precio" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</form>
