@model Plato

@{
    ViewData["Title"] = "Editar Plato";
}

<style>
    body {
        padding-top: 80px; /* Ajusta según la altura de tu navbar */
    }

    h2 {
        margin-bottom: 20px;
        text-align: center;
        color: #343a40;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }

    .form-control, .form-select {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ced4da;
        border-radius: 5px;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
        padding: 10px 20px;
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }

    .btn-primary:hover {
        opacity: 0.9;
    }

    .text-danger {
        color: #dc3545;
        font-size: 0.9rem;
    }

    .container {
        margin-top: 20px;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 600px; /* Establece un ancho máximo */
        margin-left: auto; /* Centrar horizontalmente */
        margin-right: auto; /* Centrar horizontalmente */
    }

    .form-check {
        margin-bottom: 10px; /* Espaciado entre los ingredientes */
    }

    input[type="submit"] {
        width: 100%;
        font-size: 16px;
    }

</style>

<h2>@ViewData["Title"]</h2>

<div class="container">
    <form action='@Url.Action("Editar", "Platos")' method="post">
        <input type="hidden" name="id" value="@ViewBag.Usuario.id" />

        <div class="form-group">
            <label asp-for="nombre" class="control-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombrePlato" value="@Model.nombre" maxlength="35" data-maxlength="35" required oninput="checkLength(this)" />
            <span asp-validation-for="nombre" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="idCategoria" class="control-label">Categoría</label>
            <select class="form-select" name="idCategoria" aria-label="Seleccione una categoría">
                <option selected>Elegi una categoría</option>
                @foreach (Categorias a in ViewBag.Categorias)
                {
                    <option value="@a.id">@a.nombre</option>
                }   
            </select>
        </div>

        <div class="form-group">
            <label asp-for="precio" class="control-label">Precio</label>
            <input type="text" class="form-control" name="precio" id="precio" value="@Model.precio" step="any" min="0" required />
            <span asp-validation-for="precio" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="ingrediente">Ingredientes</label>
            <div class="form-check">
                @foreach (Ingrediente a in ViewBag.Ingrediente)
                {
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="checkbox" 
                            name="ingredientes" 
                            value="@a.id" 
                            id="ingrediente_@a.id" />
                        <label 
                            class="form-check-label" 
                            for="ingrediente_@a.id">
                            @a.descripcion
                        </label>
                    </div>
                }
            </div>
        </div>

        <div class="form-group">
            <label asp-for="activo" class="control-label">Activo</label>
            @Html.CheckBoxFor(x => x.activo)
            <span asp-validation-for="activo" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </form>
</div>
