@model List<Plato>
@{
    ViewData["Title"] = "Gestión de Platos";
}

<h2>@ViewData["Title"]</h2>

<div>
    <a asp-action="Crear" class="btn btn-primary">Agregar Nuevo Plato</a>
    <a asp-action="CrearCategoria" class="btn btn-secondary">Agregar Nueva Categoría</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.nombre</td>
            <td>@item.idCategoria</td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.id" class="btn btn-secondary">Editar</a> |
                <a asp-action="Eliminar" asp-route-id="@item.id" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
