@model List<Plato>
@{
    ViewData["Title"] = "Gestión de Platos";
}

<h2>@ViewData["Title"]</h2>

<h2>Gestión de Platos</h2>

<div class="container">
    <h2>Lista de Platos</h2>

</div>

<h2>@ViewBag.ErrorEliminar</h2>

<div>
    <a href='@Url.Action("Crear", "Platos", new{IdUsuario = ViewBag.Usuario.id})' class="btn btn-primary">Agregar Nuevo Plato</a>
    <a href='@Url.Action("CrearCategoria", "Platos", new{IdUsuario = ViewBag.Usuario.id})' class="btn btn-primary">Agregar Nueva Categoría</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.nombre</td>
            <td>@item.idCategoria</td>
            <td>
                <a href='@Url.Action("Editar","Platos", new{IdUsuario = ViewBag.Usuario.id, id = @item.id,})' class="btn btn-secondary">Editar</a> |
                <form action='@Url.Action("Eliminar", "Platos")' method="post" style="display:inline;">
                    <input type="hidden" name="id" value="@item.id" />
                    <input type="hidden" name="idUsuario" value="@ViewBag.Usuario.id" />
                    <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este Plato?');">Eliminar</button>
                </form>            
            </td>
        </tr>
    }
    </tbody>
</table>
