@model List<Plato>
@{
    ViewData["Title"] = "Gestión de Platos";
}

<h2>@ViewData["Title"]</h2>

<h2>Gestión de Platos</h2>

<div class="container">
    <h2>Lista de Platos</h2>

</div>

<h2>@ViewBag.ErrorEliminar</h2>

<div>
    <a asp-action="Crear" class="btn btn-primary">Agregar Nuevo Plato</a>
<a href='@Url.Action("CrearCategoria", "Categoria")' class="btn btn-primary">Agregar Nueva Categoría</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.nombre</td>
            <td>@item.idCategoria</td>
            <td>
                <a href='@Url.Action("Editar","Platos", new{IdUsuario = ViewBag.Usuario.id})' class="btn btn-secondary">Editar</a> |
                <a href='@Url.Action("Eliminar","Platos", new{IdUsuario = ViewBag.Usuario.id})' class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
