@model Ingrediente
@{
    ViewData["Title"] = "Agregar Ingrediente";
}

<h2>@ViewData["Title"]</h2>

<form Action='@Url.Action("Crear","Ingredientes")' method="post">
    <input type="hidden" name="idUsuario" value="@ViewBag.Usuario.id" />
    <div class="form-group">
        <label asp-for="descripcion" class="control-label"></label>
        <input type="text" name="descripcion" class="form-control" id="descripcion" maxlength="40" required />
        <span asp-validation-for="descripcion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="cantidad" class="control-label"></label>
        <input name="cantidad" class="form-control" type="number" id="cantidad" step="any" min="0" required />
        <span asp-validation-for="cantidad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="valorUnidad" class="control-label"></label>
        <input name="valorUnidad" class="form-control" type="number" id="valorUnidad" step="any" min="0" required />
        <span asp-validation-for="valorUnidad" class="text-danger"></span>
    </div>
   <div class="form-group">
        <label for="unidad">Unidad</label>
        <select class="form-select" name="idUnidad" aria-label="Default select example">
            <option selected>Elegi una unidad</option>
            @foreach (Unidad a in ViewBag.Unidad)
            {
                <option value="@a.id">@a.unidad</option>
            }   
        </select>
    </div>
    <div class="form-group">
        <label asp-for="activo" class="control-label"></label>
        @Html.CheckBoxFor(x=>x.activo)
        
        <span asp-validation-for="activo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Crear" class="btn btn-primary" />
    </div>
</form>