@model Ingrediente

@{
    ViewData["Title"] = "Eliminar Ingrediente";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <h4>¿Estás seguro de que deseas eliminar el ingrediente?</h4>
    <form method="post" action='@Url.Action("Eliminar", "Ingredientes")'>
        <input type="hidden" name="id" value="@Model.id" />
        <input type="hidden" name="idUsuario" value="@ViewBag.Usuario.id" />
        <div class="form-group">
            <label>Descripción:</label>
            <p>@Model.descripcion</p>
        </div>
        <div class="form-group">
            <label>Cantidad:</label>
            <p>@Model.cantidad</p>
        </div>
        <div class="form-group">
            <label>Valor por Unidad:</label>
            <p>@Model.valorUnidad</p>
        </div>
        <div class="form-group">
            <label>Activo:</label>
            <p>@Model.activo</p>
        </div>
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href='@Url.Action("Index", "Ingredientes", new { IdUsuario = ViewBag.Usuario.id })' class="btn btn-secondary">Cancelar</a>
    </form>
</div>