@model List<Ingrediente>

@{
    ViewData["Title"] = "Gestion de Ingredientes";
}

<h2>@ViewData["Title"]</h2>

<h2>Gestión de Ingredientes</h2>

<div class="container">
    <h2>Lista de Ingrediente</h2>

    <div>
      <a href='@Url.Action("Crear", "Platos")' class="btn btn-primary" style="width:200px; position: absolute;top: 20%" >Agregar Nuevo Plato</a>
    </div>
</div>
<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Nuevo Ingrediente</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Valor por Unidad</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.descripcion</td>
            <td>@item.id</td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.id" class="btn btn-secondary">Editar</a> |
                <a asp-action="Eliminar" asp-route-id="@item.id" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>