@model List<Ingrediente>

@{
    ViewData["Title"] = "Gestion de Ingredientes";
}

<h2>@ViewData["Title"]</h2>

<h2>Gestión de Ingredientes</h2>

<div class="container">
    <h2>Lista de Ingredientes</h2>

</div>

<h2>@ViewBag.ErrorEliminar</h2>

<p>
    <a href='@Url.Action("Crear", "Ingredientes", new{IdUsuario = ViewBag.Usuario.id})' class="btn btn-primary" style="width:200px; position: absolute;top: 20%" >Agregar Nuevo Ingrediente</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Valor por Unidad</th>
            <th>Activo</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.descripcion</td>
            <td>@item.cantidad</td>
            <td>@item.valorUnidad</td>
            <td>@item.activo</td>
            <td>
                <a href='@Url.Action("Editar", "ingredientes", new{IdUsuario = ViewBag.Usuario.id})' class="btn btn-sm btn-outline-secondary">Editar</a>
                <form action='@Url.Action("Eliminar", "Ingredientes")' method="post" style="display:inline;">
                    <input type="hidden" name="id" value="@item.id" />
                    <input type="hidden" name="idUsuario" value="@ViewBag.Usuario.id" />
                    <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este ingrediente?');">Eliminar</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>