@model List<dynamic>

<style>
    body {
        padding-top: 80px; /* Ajusta este valor según la altura de tu navbar */
    }

    h2 {
        margin-bottom: 20px;
    }

    .table {
        width: 100%;
        margin-bottom: 20px;
        background-color: white;
        border-collapse: collapse;
    }

    .table th, .table td {
        padding: 12px 15px;
        text-align: left;
        border: 1px solid #ddd;
    }

    .table th {
        background-color: #f2f2f2;
    }

    .table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .btn {
        padding: 10px 20px;
        margin-right: 10px;
        border: none;
        color: white;
        text-decoration: none;
        font-size: 14px;
    }

    .btn-primary {
        background-color: #007bff;
    }

    .container {
        margin-top: 20px;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>

<h2>@ViewData["Title"]</h2>

<div class="container">
    <h2>Lista de Ventas</h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nombre del Plato</th>
            <th>Precio</th>
            <th>Cantidad Vendida</th>
            <th>Total Acumulado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var totalAcumulado = item.Plato.precio * item.CantidadVendida;
            <tr>
                <td>@item.Plato.nombre</td>
                <td>@item.Plato.precio</td>
                <td>
                    <form method="post" action='@Url.Action("VenderPlato", "Ventas")'>
                        <input type="hidden" name="idPlato" value="@item.Plato.id" />
                        <input type="number" name="cantidad" min="1" required />
                        <button type="submit" class="btn btn-primary">Vender</button>
                    </form>
                </td>
                <td>@totalAcumulado</td>
            </tr>
        }
    </tbody>
</table>
