@model List<Ventas>

<style>
    body {
        padding-top: 80px; /* Ajusta este valor según la altura de tu navbar */
    }

    h2 {
        margin-bottom: 20px;
    }

    .table {
        width: 100%;
        margin-bottom: 20px;
        background-color: white;
        border-collapse: collapse;
    }

    .table th, .table td {
        padding: 12px 15px;
        text-align: left;
        border: 1px solid #ddd;
    }

    .table th {
        background-color: #f2f2f2;
    }

    .table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .btn {
        padding: 10px 20px;
        margin-right: 10px;
        border: none;
        color: white;
        text-decoration: none;
        font-size: 14px;
    }

    .btn-primary {
        background-color: #007bff;
    }

    .container {
        margin-top: 20px;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>

<h2>@ViewData["Title"]</h2>

<div class="container">
    <h2>Lista de Ventas</h2>
</div>
@*

hay que utilizar la tabla de las ventas para que se guarden las ventas. 
Tanto las fechas que deben tener con la fecha de cuando se apreta el boton "vender" como la cantidad de ventas que se realizaron

*@
@{
    double Totalp = 0;
    double cantp = 0;
}

<table class="table">
    <thead>
        <tr>
            <th>Nombre del Plato</th>
            <th>Precio</th>
            <th>Cantidad Vendida</th>
            <th>Cantidad de Ventas</th>
            <th>Total Acumulado</th>
            <th>Fecha de Última Venta</th>
        </tr>
    </thead>
    <tbody>
    @*no se guradan las ventas*@
        @foreach (var item in Model)
        {
            Totalp += item.totalVenta;
            cantp += item.cantidad;

            <tr>
                <td>@item.NombrePlato.Substring(0, 1).ToUpper()@item.NombrePlato.Substring(1)</td>
                <form method="post" action='@Url.Action("VenderPlato", "Ventas")'>
                    
                    <td> 
                        <label>@item.precioUnitario</label>
                         <input type="hidden" name="precioUnitario" id="precioUnitario" value="@item.precioUnitario" />
                    </td>
                    <td>
                        <input type="hidden" name="idUsuario" value="@ViewBag.Usuario.id" />
                        <input type="hidden" name="idPlato" value="@item.idPlato" />
                        <input type="number" name="cantidad" min="1" required />
                        <button type="submit" class="btn btn-primary">Vender</button>
                   
                    </td>
                 </form>
                <td>@item.cantidad</td>
                <td>@item.totalVenta</td>
                <td>@item.fecha</td>
            </tr>
        }
        <tr>
            <th colspan="3">Total Ventas</th>
            <td>@cantp</td>
            <td>@Totalp</td>
            <td></td>
        </tr>
    </tbody>
</table>