@{
    ViewData["Title"] = "Home";
}
<form class="formbusc" method="get" action='@Url.Action("BuscarTareaPorNombre", "Home")'>
  <input type="hidden" name="IdUsuario" value="@ViewBag.Usuario.IdUsuario"></input>
    <div class="mb-3">
        <input type="text" placeholder="Ingresar nombre" class="form-control" name="nombre" id="nombre">
    </div>
    <button type="submit" class="btn btn-primary mb-3 ms-2">Buscar</button>
</form>
 @foreach(var item in ViewBag.Tareas)
    {
  <!--<div class="card text-bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Light card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>-->
 <div class="content-container">
    <div class="cardd">
        <div class="header">
            <h2>@item.Nombre</h2>
            @foreach (Categorias a in ViewBag.Categorias)
            {
                @if (item.IdCategoria == a.IdCategoria)
                {
                    <div class="tag">@a.Nombre</div>
                }
            }
        </div>
        <p>@item.Descripcion</p>
        <div class="button-container">
            <button type="button" class="action-button button-detalle" data-bs-toggle="modal" data-bs-target="#ModalDetalle" onclick="MostrarDetalles(@item.IdTarea)">Ver más detalles</button>
        </div>
    </div>
  </div>
  }
<button type="button" class="botonn" data-bs-toggle="modal" data-bs-target="#ModalAgregarTarea">Nueva tarea</button>
<!-- AGREGAR TAREA -->
<div class="modal fade" id="ModalAgregarTarea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Tarea</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form Action='@Url.Action("AgregarTarea","Home")'>
          <input type="hidden" name="IdUsuario" value="@ViewBag.Usuario.IdUsuario">
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Categorias</label>
        <select class="form-select" name="IdCategoria" aria-label="Default select example">
          <option selected>Elegi una categoria</option>
          @foreach (Categorias a in ViewBag.Categorias)
          {
            <option value="@a.IdCategoria">@a.Nombre</option>
          }
        </select>
        
       <button type="button" class="botonn" data-bs-toggle="modal" data-bs-target="#ModalAgregarCategoria">Crear categoria</button>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="Nombre" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Fecha de realizacion</label>
            <input type="date" class="form-control" name="FechaRealizacion" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Descripcion</label>
            <input type="text" class="form-control" name="Descripcion" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="ModalDetalle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Ver más detalles</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="descripcion-tarea" id="titulo"></p>
        <p class="descripcion-tarea" id="Fecha"></p>
        <p class="descripcion-tarea"></p>
        <p class="descripcion-tarea" id="Descripcion"></p>
    </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#ModalEditar" data-bs-toggle="modal" onclick="EditarTarea()">Editar</button>
<button class="btn btn-primary" onclick="confirmarEliminacion()">Eliminar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal agregar categoría -->

<div class="modal fade" id="ModalAgregarCategoria" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Agregar categoría</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form Action='@Url.Action("AgregarCategoria","Home")'>
          <input type="hidden" name="IdUsuario" value="@ViewBag.Usuario.IdUsuario">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="Nombre" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#ModalAgregarTarea" data-bs-toggle="modal">Guardar</button>
        </div>
        </form>
    </div>
    </div>
  </div>
</div>

<!--Modal para editar-->
<div class="modal fade" id="ModalEditar" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Editar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form Action='@Url.Action("EditarTarea","Home")'>
        <input type="hidden" id="Usuario" name="IdUsuario">
        <input type="hidden" id="Tarea" name="IdTarea">
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Categorias</label>
        <select class="form-select" name="IdCategoria" aria-label="Default select example">
          @foreach (Categorias a in ViewBag.Categorias)
          {
            <option value="@a.IdCategoria">@a.Nombre</option>
          }
        </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="Nombre" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Fecha de realizacion</label>
            <input type="date" class="form-control" name="FechaRealizacion" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Descripcion</label>
            <input type="text" class="form-control" name="Descripcion" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>