@{
    ViewData["Title"] = "Home";
}
 <div class="content-container">
     @foreach(var item in ViewBag.Tareas)
    {
    <div class="cardd">
        <div class="header">
            <h2>@item.Nombre</h2>
            @foreach (Categorias a in ViewBag.Categorias)
            {
                @if (item.IdCategoria == a.IdCategoria)
                {
                    <div class="tag">@a.Nombre</div>
                }
            }
        </div>
        <p>@item.Descripcion</p>
        <div class="button-container">
            <button type="button" class="action-button button-detalle" data-bs-toggle="modal" data-bs-target="#ModalDetalle" onclick="MostrarDetalles(@item.IdTarea)">Ver más detalles</button>
        </div>
    </div>
            }
    </div>
<button type="button" class="botonn" data-bs-toggle="modal" data-bs-target="#ModalAgregarTarea">Nueva tarea</button>
<div class="modal fade" id="ModalAgregarTarea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Tarea</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form Action='@Url.Action("AgregarTarea","Home")'>
          <input type="hidden" name="IdUsuario" value="@ViewBag.Usuario.IdUsuario">
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Categorias</label>
        <select class="form-select" name="IdCategoria" aria-label="Default select example">
          <option selected>Elegi una categoria</option>
          @foreach (Categorias a in ViewBag.Categorias)
          {
            <option value="@a.IdCategoria">@a.Nombre</option>
          }
        </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="Nombre" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Fecha de realizacion</label>
            <input type="date" class="form-control" name="FechaRealizacion" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Descripcion</label>
            <input type="text" class="form-control" name="Descripcion" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Envíar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Falta el modal para ver detalles (De ahi se puede editar, eliminar o cerrar)-->
<div class="modal fade" id="ModalDetalle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Ver más detalles</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="descripcion-tarea" id="titulo"></p>
        <p class="descripcion-tarea" id="Fecha"></p>
        <p class="descripcion-tarea"></p>
        <p class="descripcion-tarea" id="Descripcion"></p>
    </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#ModalEditar" data-bs-toggle="modal" onclick="EditarTarea()">Editar</button>
<button class="btn btn-primary" onclick="confirmarEliminacion()">Eliminar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!--Modal para editar-->
<div class="modal fade" id="ModalEditar" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Editar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form Action='@Url.Action("EditarTarea","Home")'>
        <input type="hidden" id="Usuario" name="IdUsuario">
        <input type="hidden" id="Tarea" name="IdTarea">
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Categorias</label>
        <select class="form-select" name="IdCategoria" aria-label="Default select example">
          <option selected>Elegi una categoria</option>
          @foreach (Categorias a in ViewBag.Categorias)
          {
            <option value="@a.IdCategoria">@a.Nombre</option>
          }
        </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="Nombre" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Fecha de realizacion</label>
            <input type="date" class="form-control" name="FechaRealizacion" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Descripcion</label>
            <input type="text" class="form-control" name="Descripcion" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Envíar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
