
@{
    ViewData["Title"] = "Home";
}
<header>   <link rel="stylesheet" href="~/css/home.css">

</header>
<div class="container">
    <h2>Lista de Platos</h2>
    <div class="row">
        @foreach(var plato in ViewBag.Plato)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">@plato.nombre</h5>
                        <p class="card-text">@plato.precio</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href='@Url.Action("Index", "Platos", new { id = plato.id, idUsuario=ViewBag.Usuario.id })' class="btn btn-sm btn-outline-secondary">Ver</a>
                                <a href='@Url.Action("Editar", "Platos", new { id = plato.id, idUsuario=ViewBag.Usuario.id })' class="btn btn-sm btn-outline-secondary">Editar</a>
                                <a href='@Url.Action("Eliminar", "Platos", new { id = plato.id, idUsuario=ViewBag.Usuario.id })' class="btn btn-sm btn-outline-danger">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div>
      <a href='@Url.Action("Crear", "Platos")' class="btn btn-primary" style="width:200px; position: absolute;top: 20%" >Agregar Nuevo Plato</a>
    </div>
</div>
@*
<div class="cardFlex">
    @foreach(var item in ViewBag.Tareas)
    {
    <div class="row">
        <div class="col-ig-6">
            <div class="content-container">
                <div class="cardd @(DateTime.Today == item.FechaRealizacion.Date ? "today-task" : "")">
                    <div class="header">
                        <h2>@item.Nombre</h2>
                        @foreach (Categorias a in ViewBag.Categorias)
                        {
                            @if (item.IdCategoria == a.IdCategoria)
                            {
                                <div class="tag">@a.nombre</div>
                            }
                        }
                    </div>
                    <p>@item.Descripcion</p>
                    <p>@item.FechaRealizacion.ToShortDateString()</p>

                    <div class="button-container">
                        @if (!item.Hecho)
                        {
                            <form Action='@Url.Action("MarcarCompletado", "Home")' method="post">
                                <input type="hidden" name="IdUsuario" value="@ViewBag.Usuario.IdUsuario" />
                                <input type="hidden" name="IdTarea" value="@item.IdTarea" />
                                <button type="submit" class="action-button button-detalle">Marcar como completado</button>
                            </form>
                        }
                        else
                        {
                            <button type="button" class="action-button button-detalle" disabled>Completado</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</div>
<!-- AGREGAR TAREA -->
<div class= "row">
  <div class= "col-ig-6">
    <div class="modal fade" id="ModalAgregarTarea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Tarea</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          <form Action='@Url.Action("AgregarTarea","Home")'>
            <input type="hidden" name="IdUsuario" value="@ViewBag.Usuario.IdUsuario">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Categorias</label>
            <select class="form-select" name="IdCategoria" aria-label="Default select example">
            <option selected>Elegi una categoria</option>
            @foreach (Categorias a in ViewBag.Categorias)
            {
              <option value="@a.IdCategoria">@a.nombre</option>
            }
          </select>
        <button type="button" class="botonn" data-bs-toggle="modal" data-bs-target="#ModalAgregarCategoria">Crear categoria</button>
          </div>
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nombre</label>
              <input type="text" class="form-control" name="Nombre" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Fecha de realizacion</label>
              <input type="date" class="form-control" name="FechaRealizacion" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Descripcion</label>
              <input type="text" class="form-control" name="Descripcion" id="exampleInputEmail1" aria-describedby="emailHelp" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button class="guardado" type="submit" class="btn btn-primary">Guardar</button>
          </div>
          </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class= "row">
<div class= "col-ig-6">
<div class="modal fade" id="ModalDetalle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Ver más detalles</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="descripcion-tarea" id="titulo"></p>
        <p class="descripcion-tarea" id="Fecha"></p>
        <p class="descripcion-tarea"></p>
        <p class="descripcion-tarea" id="Descripcion"></p>
    </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#ModalEditar" data-bs-toggle="modal" onclick="EditarTarea()">Editar</button>
<button class="btn btn-primary" onclick="confirmarEliminacion()">Eliminar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<!-- Modal agregar categoría -->

<div class= "row">
<div class= "col-ig-6">
<div class="modal fade" id="ModalAgregarCategoria" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Agregar categoría</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form Action='@Url.Action("AgregarCategoria","Home")'>
          <input type="hidden" name="IdUsuario" value="@ViewBag.Usuario.IdUsuario">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="Nombre" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#ModalAgregarTarea" data-bs-toggle="modal">Guardar</button>
        </div>
        </form>
    </div>
    </div>
  </div>
</div>
</div>
</div>


<!--Modal para editar-->
<div class= "row">
<div class= "col-ig-6">
<div class="modal fade" id="ModalEditar" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Editar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form Action='@Url.Action("EditarTarea","Home")'>
        <input type="hidden" id="Usuario" name="IdUsuario">
        <input type="hidden" id="Tarea" name="IdTarea">
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Categorias</label>
        <select class="form-select" name="IdCategoria" aria-label="Default select example">
          @foreach (Categorias a in ViewBag.Categorias)
          {
            <option value="@a.IdCategoria">@a.nombre</option>
          }
        </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="Nombre" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Fecha de realizacion</label>
            <input type="date" class="form-control" name="FechaRealizacion" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Descripcion</label>
            <input type="text" class="form-control" name="Descripcion" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>*@