
@{
    ViewData["Title"] = "Home";
}
<header>   <link rel="stylesheet" href="~/css/home.css">

</header>
<div class="container">
    <h2>Lista de Platos</h2>
    <div class="row" style="position: absolute;top: 30%">
        @foreach(var plato in ViewBag.Plato)
        {
            <div class="col-md-4">@*ver estilo porque tiene distinto tamaño la card*@
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">@plato.nombre</h5>
                        <p class="card-text">@plato.precio</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href='@Url.Action("Index", "Platos", new { id = plato.id, idUsuario=ViewBag.Usuario.id })' class="btn btn-sm btn-outline-secondary">Ver</a>
                                <a href='@Url.Action("Editar", "Platos", new { id = plato.id, idUsuario=ViewBag.Usuario.id })' class="btn btn-sm btn-outline-secondary">Editar</a>
                                <a href='@Url.Action("Eliminar", "Platos", new { id = plato.id, idUsuario=ViewBag.Usuario.id })' class="btn btn-sm btn-outline-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este Plato?')">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div>
      <a href='@Url.Action("Crear", "Platos", new{IdUsuario = ViewBag.Usuario.id})' class="btn btn-primary" style="width:200px; position: absolute;top: 20%" >Agregar Nuevo Plato</a>
    </div>
</div>