@{
    ViewData["Title"] = "Notificaciones";
}
<head>

</head>
<body>
  @if(ViewBag.Tareas==null)
  {
    <p>"No tiene notificaciones de tareas del día de hoy"</p>
  }
  else
  {
  <div class="notificacioness">
    @foreach (Tareas i in ViewBag.Tareas)
    {
      @if(DateTime.Now.ToShortDateString() == @i.FechaRealizacion.ToShortDateString())
      {
      <div class="carddd">
          <h5 class="carddd-tarea" >¡@i.Nombre</h5>
          <p class="carddd-tarea">@i.Descripcion</p>
        @foreach (Categorias a in ViewBag.Categoria)
        {
          @if (i.IdCategoria == a.IdCategoria)
          {
          <p class="carddd-tarea">Es de la categoría @a.Nombre</p>
          }
        }
      <p class="carddd-tarea">Fecha de finalización de la tarea: @i.FechaRealizacion.ToShortDateString()</p>
      <!--EL BOOL ANDA HORRIBLE-->
      @if(!i.Hecho)
      {
        <form Action='@Url.Action("MarcarCompletado","Home")'>
        <input type="hidden" name="IdTarea" value="@i.IdTarea"></input>
        <input type="hidden" name="IdUsuario" value="@i.IdUsuario"></input>
        <div id="miBotonContainer">
          <button type="submit">Marcar como completado</button>
        </div>
        </form>
      }
      else
      {
        <div id="miBotonContainer">
          <button type="submit">Completado</button>
        </div>
      }
      </div>
      }
    }
    </div>
  }
</body>
